.articleCours{
    background-color: rgb(190, 169, 169);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid black;
    width: 100vw;
}
.articleCoursSpecial{
    background-color: rgb(160, 151, 151);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px dashed black;
    width: 100vw;
}
.listeCours{
    display: flex;
    flex-direction: column;
    margin-left: 0px !important;
    width: 100vw;
}
