.articleCours{
    background-color: rgb(190, 169, 169);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid black;

    @media (max-width : 800px){
        height: 10vh;
		p:first-child{
            display: none;
        }
        p:nth-child(2){
            transform: rotateZ(-90deg);
            a{
                color: 	rgb(255,215,0);
            }
        }
        p:nth-child(3){
            display: none;
        }
	}
}
.articleCoursSpecial{
    background-color: rgb(160, 151, 151);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px dashed black;

    @media (max-width : 800px){
        height: 10vh;
		p:first-child{
            display: none;
        }
        p:nth-child(2){
            transform: rotateZ(-90deg);
            a{
                color: 	rgb(255,215,0);
            }
        }
        p:nth-child(3){
            display: none;
        }
	}
}
.listeCours{
    display: flex;
    flex-direction: column;
    margin-right: 35px !important;
    margin-left: 20px !important;
}
