.articleCours{
    background-color: rgb(190, 169, 169);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.articleCoursSpecial{
    background-color: rgb(219, 112, 112);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.listeCours{
    display: flex;
    flex-direction: column;
}